<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrappified App</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/app.css">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-light bg-light">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/blogs">Blog</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="/about">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/register">Sign Up</a></li>
                    <li><a href="/login">Log In</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <% if (error && error.length >0) {%>
            <div class="alert alert-danger" role="alert">
                <%=error%>
            </div>
        <%}%>
        <% if (success && success.length >0){%>
            <div class="alert alert-success" role="alert">
                <%=success%>
            </div>
        <%}%>
        
    </div>
