<%- include ("./partials/header"); -%>

<div class="container">
    <div class="jumbotron">
        <h1>This is the most amazing design</h1>
        <h3><span>How to be happy thou married</span></h3>
        <div class="leading">Nice Caption Here</div> 
        <button class="btn btn-success btn-sm">Hi there</button>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="image">
                <img src="/img/seth.jpeg" class="img-rounded" alt="Seth">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <img src="/img/franca.jpeg" alt="Franca" class="img-thumbnail"> 
        </div>
        <div class="col-md-3 col-sm-6">
            <img src="/img/franca.jpeg" alt="Franca" class="img-thumbnail"> 
        </div>
        <div class="col-md-3 col-sm-6">
            <img src="/img/franca.jpeg" alt="Franca" class="img-thumbnail"> 
        </div>
        <div class="col-md-3 col-sm-6">
            <img src="/img/franca.jpeg" alt="Franca" class="img-thumbnail"> 
        </div>


    </div>
</div>

<%- include ("./partials/footer"); -%>