<%- include ("partials/header"); -%>

<h2>HOW TO BE HAPPY THOUGH MARRIED</h2>

<p>No man e'er gained a happy life by chance,
    Or yawned it into being with a wish
</p>
<p>
    are quite surprised when experience teaches them 
    that domestic felicity, like everything else worth having, 
    must be worked for must be earned by patient endurance, 
    self-restraint, and loving consideration for the tastes,
     and even for the faults, of him or her with whom life is to be
lived
</p>

<%- include ("partials/footer"); -%>