<%- include ("../partials/header"); %>

<div class="container">
    <div class="align-center">
        <div class="container">
            <div class="text-center">
                <div class="text-info "> 
                    <div class="text-lg">
                        <div class="header"> <strong>New Blog</strong></div>
                    </div> 
                </div>
            </div>
        </div>
        
        <form action="/blogs" method="post">
            <div class="container-fluid">
                <div class="form-group">
                    <label for="title">Blog title</label>
                    <input id="title" class="form-control" type="text" name="title" placeholder="Enter blog title">
                </div>
                <div class="form-group">
                    <label for="image">Blog image</label>
                    <input class="form-control" id="image" type="text" name="image" placeholder="Enter blog image">
                </div>
                <div class="form-group">
                    <label for="body">Blog text or body</label>
                    <input id="body" class="form-control" type="text" name="body" placeholder="Enter blog text or body">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block">Submit</button>
                </div>
            </div>
    </div>
</div>


    
    
</form>




<%- include ("../partials/footer"); %>